.container-xxl {
  padding-top: 50px;
  padding-bottom: 57px;
}
.navbar {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 10px;
  background: #fbfca7;
}

.dropdown-menu[data-bs-popper] {
  left: -141%;
}

.dropdown-menu.show {
  max-width: 116px;
}

/*footer*/
.footer-icons a {
  color: black;
}
.nav-link:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.icons {
  width: 37px;
}
.icons:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.vk {
  margin-bottom: 15px;
}

.logo {
  width: 200px;
  padding-left: 20px;
}
.logo:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.logo_footer {
  width: 140px;
}
.logo_footer:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
@media (max-width: 420px) {
  .logo {
    width: 148px;
    padding-left: 0px;
  }
  .logo_footer {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .f_icons {
    width: 110px;
  }
}
