body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin-top: 10px;
  border-radius: 10px;
  max-width: 576px;
  padding-top: 100px;
  padding-bottom: 227px;
}

.navbar {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 10px;
  background: #a8e6cf;
  --bs-navbar-color: rgba(0, 0, 0, 0.7);
}
.navbar-nav {
  font-size: 1.15rem;
  color: #000;
}
.nav-link:hover {
  color: aliceblue;
  font-size: bold;
}
.dropdown-menu[data-bs-popper] {
  left: -141%;
}

.dropdown-menu.show {
  max-width: 116px;
}
.btn-info a {
  color: #000;
  text-decoration: none;
}
/*footer*/
.footer {
  background-color: #ccec98;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.footer-icons a {
  color: black;
}

.icons {
  width: 37px;
}
.icons:hover {
  transform: scale(1);
  transition: all 1s ease;
}
.vk {
  margin-bottom: 15px;
}

.logo {
  width: 200px;
  padding-left: 20px;
}
.logo:hover {
  transform: scale(1);
  transition: all 1s ease;
}
.logo_footer {
  width: 140px;
}
.logo_footer:hover {
  transform: scale(1);
  transition: all 1s ease;
}
@media (max-width: 420px) {
  .logo {
    width: 148px;
    padding-left: 0px;
  }
  .logo_footer {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .f_icons {
    width: 110px;
  }
}
