body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 10px;
  background: #a8e6cf;
}
.navbar-nav {
  font-size: 1.15rem;
  color: #000;
}
.nav-link:hover {
  color: aliceblue;
  font-size: bold;
}
.dropdown-menu[data-bs-popper] {
  left: -141%;
}

.dropdown-menu.show {
  max-width: 116px;
}
.container {
  padding-top: 50px;
}
.card {
  width: 590px;
}

@media screen and (max-width: 710px) {
  .card,
  .card iframe {
    width: 90vw;
  }
}
/*footer*/
.footer {
  background-color: #dcedc1;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
.footer-icons a {
  color: black;
}

.icons {
  width: 37px;
}
.icons:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.vk {
  margin-bottom: 15px;
}

.logo {
  width: 200px;
  padding-left: 20px;
}
.logo:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
.logo_footer {
  width: 140px;
}
.logo_footer:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}
@media (max-width: 420px) {
  .logo {
    width: 148px;
    padding-left: 0px;
  }
  .logo_footer {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .f_icons {
    width: 110px;
  }
}
