.navbar {
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-radius: 10px;
  background: #fbfca7;
}

.dropdown-menu[data-bs-popper] {
  left: -141%;
}

.dropdown-menu.show {
  max-width: 116px;
}
.container {
  padding-top: 50px;
}

.scroll_icon {
  width: 20px;
}

@media screen and (max-width: 991px) {
  .menu_list {
    display: none;
  }
}

/*footer*/
.footer-icons a {
  color: black;
}

.icons {
  width: 37px;
}

.vk {
  margin-bottom: 15px;
}

.logo {
  width: 200px;
  padding-left: 20px;
}

.logo_footer {
  width: 140px;
}

@media (max-width: 420px) {
  .logo {
    width: 148px;
    padding-left: 0px;
  }
  .logo_footer {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .f_icons {
    width: 110px;
  }
}
